/ProgrammingAssignment2/nbproject/private/
/ProgrammingAssignment1/nbproject/private/
/ProgrammingAssignment2/build/
/ProgrammingAssignment3/nbproject/private/
/ProgrammingAssignment3/dist/
/ProgrammingAssignment3/build/
/ProgrammingAssignment4/nbproject/private/
/ProgrammingAssignment4/build/
/ProgrammingAssignment5/nbproject/private/
/ProgrammingAssignment5/build/
